body {
	font-family: 'Roboto', sans-serif;
	background-color: $plain;
	color: #333;
}

.wrapper {
	width: 96%;
	max-width: 960px;
	margin: 0 auto;
}


//Defaults

p, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1em;
}

p:last-child {
	margin-bottom: 0
}

//Links

a, a:active, a:visited {
	color: $primary;
	text-decoration: none
}

a:hover {
	color: $secondary;
}
