.site-header {
	background-color: $primary;
}

.site-title {
	padding: 0.35em 0;
	color: #fff;
	text-align: $textAlign;
	font-weight: 300;
	font-size: 2.5em;
}

.site-navigation {
	background-color: $secondary;
	text-align: $textAlign;
	font-size: 1.1em;
	font-weight: 300;

	%no-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	ul {
		@extend %no-list;
	}

	li {
		@extend %no-list;
		display: inline-block;
	}

	a {
		display: block;
		padding: 0.4em;
		color: #fff;
		@include transition(all 250ms);
	}

	a:hover {
		color: mix($secondary, #fff, 40%);
	}
}
