extends page.jade

block pageContentInner
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus praesentium vitae, maxime laboriosam quod distinctio ducimus dicta omnis natus quibusdam numquam rerum vel maiores in, commodi provident illo non odit reiciendis delectus beatae dolor. Odio reprehenderit, tempore voluptas repudiandae architecto esse.
	p Aperiam harum quas laudantium sequi omnis velit voluptates libero iure inventore, rerum praesentium ipsa repellendus qui ducimus totam minus facilis quibusdam pariatur deserunt aspernatur!
	p Rerum corporis sunt totam, praesentium eaque quod suscipit incidunt laboriosam. Consectetur veniam a voluptatem rem, asperiores sequi quibusdam fuga consequatur nulla explicabo! Magni, ex, repellat. Blanditiis odit ducimus reiciendis enim earum, soluta deserunt perspiciatis voluptates repellendus eum similique quos aperiam, dolore sequi praesentium accusamus corrupti voluptate sit.
	p Doloremque iusto earum rerum, ducimus animi, optio et ipsa sint saepe rem pariatur repellendus. Eaque tempore assumenda repellat placeat quo iusto, facilis quaerat nostrum delectus repudiandae, nisi nobis laboriosam reprehenderit, hic! Ea nam consequatur ut iusto reiciendis expedita alias quod, sapiente, deleniti beatae ratione. Amet saepe ullam ipsum nihil doloribus, illum voluptatibus officiis consequuntur optio magni, enim aliquam aliquid quas debitis asperiores.
	p Saepe voluptatum officia rem ut consequatur labore temporibus nisi laudantium, necessitatibus inventore maiores fuga minus voluptate incidunt vel excepturi, commodi error, libero esse molestias qui aliquam.
