doctype html
html
	head
		title #{title} | My Blog
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700")
		link(rel="stylesheet", href="/css/style.css")
	body
		header.site-header
			.site-title.wrapper My Blog
			nav.site-navigation
				.wrapper
					ul
						each navItem in navItems
							li
								a(href="#{navItem.url}")= navItem.name

		main.page-content
			block pageContent
				article
					header.page-header
						block pageHeader
							h1.wrapper= title
					section.article-content.wrapper
						block pageContentInner
							| !{pageContent}
		footer.site-footer
			.wrapper
				p By John
